@model IEnumerable<Classroom>


<a asp-area="UserTeacher" asp-controller="Classroom" asp-action="AddClassroom" class="btn btn-primary">Create new Class Room</a>

<ul class="cards">
    @foreach (var item in Model)
    {
        <li>
            @item.course_name
            <br/>
            @item.Description
            <br/>
            @item.teacher_name
            <br/>
            <br/>
            <a asp-area="UserTeacher" asp-controller="Classroom" asp-action="EditClassroom" asp-route-id="@item.ClassroomId" class="btn btn-primary align-content-end"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"></svg></a>
            
        </li>
    }
</ul>