@model Student


<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <h1>@Model.student_name</h1>
        </div>
        <div class="col-5">
            <h4>@Model.student_email</h4>
        </div>
    </div>
    
</div>
